// Banner
.banner-contato-bg {
  background: url('img/contato/image-contato.jpg') no-repeat center;
  background-size: cover;
  .banner-contato {
    min-height: 80rem;
    max-height: 90rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0rem 2rem;
    .text-banner {
      flex: 3 1 42rem;
      max-width: 65rem;
      h1 {
        color: white;
      }
      p {
        margin: 3rem 0rem;
        font-weight: bold;
        color: white;
      }
    }
    .banner-form {
      flex: 2 1 29rem;
      max-width: 50rem;
      background: white;
      padding: 5rem;
      border-radius: 2rem;
      box-shadow: 5px 5px 20px #0003;
      label {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: $color-3;
        margin: 3rem 0rem 1rem;
        &:first-child {
          margin-top: 0rem;
        }
      }
      input, select, textarea {
        width: 100%;
        background-color: $color-6;
        border: none;
        border-radius: 3rem;
        outline: none;
        padding: 1rem 1.5rem;
        box-sizing: border-box;
      }
      select {
        cursor: pointer;
      }
      option[value=""][disabled] {
        display: none;
      }
      textarea {
        border-radius: 1rem;
        resize: vertical;
        min-height: 12rem;
        max-height: 20rem;
      }
      button {
        border: none;
        min-width: 17rem;
        margin-top: 1rem;
        float: right;
        cursor: pointer;
      }
    }
  }
}
@include breackpoints(lge) {
  .banner-contato .text-banner {
    text-align: center;
    margin-top: 4rem;
  }
}

// FAQ
.faq {
  padding: 10rem 2rem 5rem;
  span, h2 {
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .faq-container {
    display: flex;
    gap: 5rem;
    margin-top: 8rem;
    .faq-accordion {
      min-height: 75rem;
      flex: 1;
      dt {
        background: $color-1;
        color: white;
        font-weight: bold;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        cursor: pointer;
      }
      dt.faq-show {
        background: #F5F5F5;
        color: $color-3;
        border-radius: 1rem 1rem 0 0 ;
      }
      dd {
        background: #F5F5F5;
        padding: 1.5rem 2rem;
        border-radius: 0rem 0rem 1rem 1rem;
        // dropdown
        visibility: hidden;
        opacity: 0;
        max-height: 0rem;
        transform: translateY(-3rem);
        transition: .2s;
      }
      dd.faq-show {
        visibility: visible;
        opacity: 1;
        max-height: 30rem;
        transform: translateY(0rem);
        margin-bottom: 1rem;
      }
    }
    .faq-img {
      flex: 1;
    }
  }
}
@include breackpoints(lge) {
  .faq {
    padding-top: 35rem;
  }
}
@include breackpoints(med) {
  .faq .faq-container {
    flex-direction: column;
    align-items: center;
    .faq-accordion {
      max-width: 57rem;
      min-height: 70rem;
    }
    .faq-img {
      order: -1;
      max-width: 57rem;

    }
  }
}

// Testimonials
.testimonials-bg {
  background: $color-6;
  .testimonials {
    position: relative;
    padding: 10rem 2rem 15rem;
    h2, span {
      text-align: center;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}
.testimonials-container {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .testimonial-box {
    // max-width: 85rem;
    background: white;
    padding: 2rem 4rem 3rem;
    position: relative;
    margin: 2rem;
    box-shadow: 5px 5px 20px #0001;
    border-radius: 2rem;
    .te-photo {
      width: 12rem;
      clip-path: circle();
    }
    blockquote cite {
      display: inline-block;
      font-weight: bold;
      color: $color-1;
      margin-top: 1rem;
    }
  }
}

/* swiper */

.swiper-slide {
  height: auto;
  box-sizing: border-box;
}
.swiper-pagination-bullets {
  margin-bottom: 10rem;
}
.swiper-pagination-bullet-active {
  background: $color-1;
}

// Clients
.clients {
  padding: 10rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  overflow-y: auto;
  .client-brand {
    flex: 1 0 17rem;
    max-width: 20rem;
  }
}