@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

img {
  max-width: 100%;
  display: block;
}


// ==== Colors ====
// Primary
$color-1: #0086F6;
$color-2: #FFCD63;

// Variables
$color-3: #041126;
$color-4: #0058C5;
$color-5: #62738F;
$color-6: #E3F0FE88;


// ==== Tipography ====
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 5rem;
    }
    font-size: 54%;
  }
}
body * {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.5;
  color: $color-5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: $color-3;
}
h1{font-size: 6.4rem;}
h2{font-size: 4.2rem;}
h3{font-size: 3.6rem;}
h4{font-size: 2.4rem;}

// Container
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// Sub text
.sub-text {
  font-weight: bold;
  color: $color-1;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    background: $color-1;
    height: 3px;
    width: 20px;
    margin-right: 10px;
  }
}

// Style UL
.style-ul {
  margin: 3rem 0rem;
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    > span > img {
      width: 2.5rem;
    }
  }
  li+li {
    padding-top: 1.5rem;
  }
}


//BREACKPOINTS
$x-large: 1024px;
$large: 900px;
$medium: 770px;
$small-up: 600px;
$small: 425px;

@mixin breackpoints($point) {
  @if $point == xlg {
    @media only screen and (max-width: $x-large) {
      @content;
    }
  }
  @else if $point == lge {
    @media only screen and (max-width: $large) {
      @content;
    }
  }
  @else if $point == med {
    @media only screen and (max-width: $medium) {
      @content;
    }
  }
  @else if $point == sml-up {
    @media only screen and (max-width: $small-up) {
      @content;
    }
  }
  @else if $point == sml {
    @media only screen and (max-width: $small) {
      @content;
    }
  }
}


// Buttons
.btn-1 {
  display: inline-block;
  background: $color-1;
  color: white;
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 100px;
  transition: background .2s;
  &:hover {
    background: $color-4;
  }
}
.btn-2 {
  display: inline-block;
  background: transparent;
  color: $color-1;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border: 2px solid $color-1;
  border-radius: 100px;
  transition: background .2s;
  &:hover {
    background: $color-1;
    color: white;
  }
}