// Upside
.upside-bg {
  background: $color-3;
}
.upside {
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  .social {
    display: flex;
    gap: 2rem;
    li a img {
      width: 2.7rem;
      transition: .3s;
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
  .phone {
    background: $color-2;
    min-height: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0rem 2rem;
    p {
      color: white;
      font-weight: bold;
      font-size: 2rem;
      transition: .3s;
      &:hover {
        color: $color-3;
      }
    }
  }
}
@include breackpoints(sml-up) {
  .upside {
    justify-content: flex-end;
    .social {
      display: none;
    }
  }
  
}

// Header
.header {
  display: flex;
  min-height: 9rem;
  align-items: center;
  justify-content: space-between;
  padding:  0rem 2rem;
  .logo img {
    width: 11rem;
  }
  .btn-menu {
    border: none;
    background: transparent;
  }
  .btn-menu img {
    padding: 1rem;
    cursor: pointer;
    width: 3.5rem;
    display: none;
  }
  .header-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    li a {
      display: inline-block;
      font-weight: bold;
      font-size: 1.6rem;
      padding: 1.3rem;
      &:hover {
        color: $color-1;
      }
    }
    li a.btn-2 {
      padding: 1.2rem 3rem;
      &:hover {
        color: white;
      }
    }
  }
}
@include breackpoints(lge) {
  .header-menu li a.btn-2 {
    display: none;
  }
}
@include breackpoints(med) {
  .header .btn-menu img.btn-show {
    display: initial;
  }
  .header {
    position: relative;
    .header-menu {
      display: block;
      position: absolute;
      background: #f5f5f5;
      width: 100%;
      right: 0px;
      top: 10rem;

      visibility: hidden;
      opacity: 0;
      transform: translateY(-30px);
      transition: .3s;
      li a {
        display: block;
        padding: 1.5rem 2rem;
        &:hover {
          background: $color-6;
        }
        &.btn-2 {
          display: none;
        }
      }
    }
    .header-menu.menu-show {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// Banner
.banner-bg {
  background: url('img/banner.jpg') no-repeat center;
  background-size: cover;
}
.banner {
  min-height: 80rem;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  .text-banner {
    max-width: 70rem;
    h1 {
      color: white;
    }
    > p {
      margin: 1.5rem 0rem 3rem;
      font-weight: bold;
    color: white;
    }
  }
}
@include breackpoints(lge) {
  .banner-bg .banner .text-banner {
    margin: auto;
    text-align: center;
  }
}

// Services Details
.services-details {
  height: 35rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  position: relative;
  top: -18rem;
  padding: 2rem 2rem;
  overflow-x: auto;
  
  .services-details-box {
    flex: 1 0 20rem;
    background: white;
    padding: 3rem;
    box-shadow: 5px 5px 20px #0003;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    > img {
      width: 50%;
      margin-bottom: 3rem;
    }
    h4 {
      color: $color-4;
      &::before {
        content: '01';
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        color: #0001;
        font-weight: bold;
        font-size: 7rem;
      }
    }
    p {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transform: translateY(20px);
      transition: .3s;
    }
    &:hover p {
      margin: 2rem 0rem;
      opacity: 1;
      visibility: visible;
      height: 70px;
      transform: translateY(0);
    }
  }
}


// About
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 0rem 2rem 15rem;
  justify-content: center;
  .about-img {
    flex: 1 1 41rem;
    max-width: 57rem;
  }
  .about-text {
    flex: 1 1 41rem;
    max-width: 57rem;
    h2 {
      margin: 2rem 0rem;
    }
    p+p {
      margin-top: 1.5rem;
    }
    
  }
}

// Services
.services-bg {
  background: $color-6;
}
.services {
  padding: 10rem 2rem 15rem;
  text-align: center;
  position: relative;
  > span {
    justify-content: center;
  }
  h2 {
    margin: 1rem 0rem 6rem;
  }
  p {
    font-size: 1.6rem;
  }
  .services-category {
    display: flex;
    min-height: 53rem;
    overflow: hidden;
    .box {
      flex: 1;
      position: relative;
      margin: 1.5rem;
      > div img {
        border-radius: 2.1rem;
      }
      .box-text {
        background: white;
        padding: 3rem;
        border-radius: 2rem;
        margin: 2.5rem;
        position: absolute;
        bottom: -15rem;
        box-shadow: 5px 5px 20px #0001;
        p {
          margin: 2rem 0rem;
        }
        a {
          display: inline-block;
          font-weight: bold;
          color: $color-1;
          padding: 1rem 2rem;
          border-radius: 1rem;
          transition: .2s;
          &:hover {
            background: #0001;
          }
        }
      }
    }
  }
}
@include breackpoints(xlg) {
  .services .services-category {
    min-height: 62rem;
  }
}
@include breackpoints(med) {
  .services .services-category .box {
    margin: 0% auto;
    max-width: 46rem;
  }
}
/* swiper */
.swiper-slide {
  height: auto;
  box-sizing: border-box;
}
.swiper-pagination-bullets {
  margin-bottom: 10rem;
}

.swiper-pagination-bullet-active {
  background: $color-1;
}

// Pricing
.pricing {
  text-align: center;
  padding: 10rem 2rem 15rem;
  > p {
    margin: 2rem auto 6rem;
    max-width: 60rem;
  }

  .pricing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    .price-box {
      flex: 0 0 240px;
      box-shadow: 5px 5px 20px #0002;
      padding: 4.5rem;
      border-radius: 2rem;
      transition: .3s;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 5px 5px 20px #0003;
      }
      > span {
        display: inline-block;
        font-size: 4rem;
        font-weight: bold;
        color: $color-1;
        margin-top: 2rem;
      }
      > a {
        margin-top: 2rem;
      }
    }
  }
}

// Footer 
.footer-bg {
  background: $color-3;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 9rem 3rem 10rem;
  > div {
    flex: 1 1 20rem;
    img {
      width: 35%;
      margin-bottom: 3rem;
    }
    h4 {
      color: $color-1;
      margin-bottom: 2rem;
      margin-left: 1rem;
    }
    p {
      font-size: 1.6rem;
    }
    li a {
      display: inline-block;
      padding: 1rem;
      font-size: 1.6rem;
      transition: .3s;
      &:hover {
        font-weight: bold;
        color: white;
      }
    }
  }
}
.copy {
  padding: 2rem 0rem;
  background: #000918;
  text-align: center;
}